extends layout

block content

    section.menu-section
        div.menu-content
            span menu stuff

    section.document-section
        div.left-document
            div#editor.
                \section{Hey there}
                \subsection{yoyoyyo}
        div.right-document
            span right

    section.footer-section
        footer
            footer


    script(src="/lib/ace-src/ace.js" type="text/javascript" charset="utf-8")
    script(src="/lib/ace-src/ext-language_tools.js")
    script.
        ace.require("ace/ext/language_tools");
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/clouds");
        editor.getSession().setMode("ace/mode/latex");
        editor.$blockScrolling = Infinity
        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: true
        });
